body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}
h1 {
    text-align: center;
}
.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
}
.section h2 {
    margin-top: 0;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
    width: 120px;
}
button:hover {
    background-color: #45a049;
}
#ledStatus, #doorStatus {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}
.ledStatusLine {
    margin-bottom: 10px;
}
.timeInput {
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.timeInput-label {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}
.button-group {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
/* CSS cho chế độ Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #f4f4f9;
}

body.dark-mode .container {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark-mode h1, body.dark-mode h2 , body.dark-mode .ledStatusLine{
    color: #f4f4f9;
}

body.dark-mode .section {
    background-color: #555;
    border-color: #666;
}

body.dark-mode button {
    background-color: #888;
    color: #222;
}

body.dark-mode button:hover {
    background-color: #777;
}
/* Style for Change Password Section */
.change-password-container {
    display: none; /* Hidden by default */
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.change-password-container label {
    font-weight: bold;
}
.change-password-container input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.change-password-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}